<app-header></app-header>
    <main class="main">
        <div class="container">
            <div class="post-form">
                <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="content">Modify Post :</label>
                        <textarea formControlName="content" id="content" name="content" class="form-control" rows="4"></textarea>
                        <div *ngIf="postForm.get('content')?.invalid && (postForm.get('content')?.dirty || postForm.get('content')?.touched)" class="text-danger">
                            Le contenu du post est requis.
                        </div>
                    </div>
                    <button type="submit" [disabled]="postForm.invalid" class="btn btn-primary">Modify</button>
                </form>
            </div>

        </div>
    </main>



